.custom-icon-button {
  background-color: #f1f3f4;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s;
  margin-left: 15px;
  position: relative;
  top: 0px;
  padding: 6px;
  box-sizing: border-box;
}

.custom-icon-button:first-of-type {
  margin-left: 350px;
}

.custom-icon-button:hover {
  background-color: #e8eaed;
  transform: scale(1.05);
}

.custom-icon {
  width: 24px;
  height: 24px;
  transition: filter 0.3s;
}

.custom-icon-button:hover .custom-icon {
  filter: brightness(0.8);
}

.custom-send-button {
  background-color: white;
  font-weight: bold;
  height: 36px;
  color: #1a73e8;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #1a73e8;
}

.custom-sendL-button {
  background-color: white;
  font-weight: bold;
  height: 36px;
  color: #1a73e8;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #1a73e8;
}

.dropdown-window {
  display: none;
  position: absolute;
  bottom: 60px;  
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 2px solid #1a73e8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100000000;
  border-radius: 4px;
}

#paramsHeader {
  color: #1a73e8;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: bold;
}

#campaign-date {
  margin-bottom: 5px;
}

#warning-message {
  margin-top: 10px;
  font-size: 10px;
  color: gray;
  opacity: 1;
  margin-top: 10px;
}
